.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../assets/Background_Contacts.png);
}

.border-box-contatos {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    height: 60px;
    width: 400px;
    border-radius: 5%;
    background-color: var(--gray-400);
    cursor: pointer;
}


.texto-contatos {
    margin-bottom: 50px;
}

.texto-caixa {
    color: var(--gray-200);
}

.border-box-contatos:hover .texto-caixa {
    color: var(--blue);
}

.border-box-contatos:hover .cor-da-imagem path {
  fill: var(--blue);
}

@media (max-width: 480px) {

    .border-box-contatos {
        width: 90vw; /* Largura baseada na tela do celular */
        justify-content: space-between; /* Distribui ícone, texto e seta */
        padding: 0 15px;
    }

    .border-box-contatos img[alt="Seta"] {
        margin-left: 0 !important; /* Remove o valor fixo de 240px/250px */
    }
}


@media (max-width: 768px) {

    .texto-contatos {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center;     

    }

    .caixa-contatos {
        margin-bottom: 200px;
    }
}