.servicos {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: var(--gray-600);
    height: 480px;
}

.texto-servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa-servicos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-border-servicos {
    margin-left: 20px;    
    width: 280px;
    height: 155px;
    background-color: var(--gray-600);
    border: 1px solid var(--gray-500);
    border-radius: 5%;
}